<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h2>Log in form</h2>

    <form action="/login" method="POST">
        
        <div>
            <label for="username">Enter Username: </label>
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div>
            <label for="password">Enter Password: </label>
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <div>
            <button>Login</button>
        </div>
    </form>
</body>
</html>